body {
  font-family: 'Source Code Pro', monospace;
  font-size: 2rem;
}

.content {
  border: 3px solid white;
  min-height: 500px;
  min-width: 300px;
}

.correct {
  color: green;
  font-weight: 700;
}

.incorrect {
  color: red;
  font-weight: 700;
}